@charset "ISO-8859-1";
div {
  width: 300px;
  padding: 25px;
}
body {
   background-color: #ffffff;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Fglacier&psig=AOvVaw0SUYU35TByGpJop5HfcKaf&ust=1618920747751000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLisgvSjivACFQAAAAAdAAAAABAD");
  background-size: 3000px 1000px;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-align: center;
	font-family: verdana;
	letter-spacing: 3px;
	
  font-size: 50px;

}
td[type=text] {
	margin-left: auto;
  margin-right: auto;
	
}

input[type=text] {
	float: left;
	text-align: center;
  width: 450%;
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid yellow;
  border-radius: 4px;
   background-color: white;
  background-image: url('ss.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
font-size:13px;
}
input[value="Google"] {
	padding-top:50px;
 padding-right:40px;
background-color: #e7e7e7; color: black;
border-radius: 8px;
  color: black;
  font-size:15px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[value="Wikipedia"] {
	padding-top:50px;
 padding-right:40px;
background-color: #4CAF50;
border-radius: 8px;
  border: teal;
  color: black;
  font-size:15px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[value="Torrent"] {
	padding-top:50px;
 padding-right:40px;
background-color: #f44336;
border-radius: 8px;
  border: teal;
  color: black;
  font-size:15px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[value="Youtube"] {
	padding-top:50px;
 padding-right:40px;
background-color: #008CBA;
border-radius: 8px;
  border: teal;
  color: black;
  font-size:15px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
 .button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */
 
p {
 font-size: 25px;
border-radius: 8px;
border-style: groove;
padding-bottom: 189px;
color: white;
}


img {
	float: left;
  width: 200px;
  height: 300px;
  border-style: groove;
  border-radius: 8px;
  
}

.footer {
	
  /* padding: 20px; 
  text-align: center;
  background: #ddd; 
filter:blur(2px);*/

display:flex;
justify-content: center;
flex-direction:column;
}
